<tr>
<td>
  <%= f.text_field :procedure_number %>
</td>
<td>
  <%= f.text_field :title %>
</td>
</tr>
<tr>
<td>
  <%= f.text_field :procedure %>
</td>
<td>
<%= f.check_box :_destroy %> 
  apagar
</td>
</tr>




