<div id="header">
    <table margin-bottom: 25px>
      <tr>
        <td><%= image_tag("logo.jpg", :class => "logo")%></td>
        <td><div id="header-title">PD4</div></td>
      </tr>
    </table>
</div>