<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<p>
  <strong>Measurement unit:</strong>
  <%= @ingredient.measurement_unit_id %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |


