<h1>Welcome</h1>
<p></p>
<br>
<p>
<%= link_to 'Nova Unidade de Medida', new_measurement_unit_path %>  |
<%= link_to 'Ingredientes', ingredients_path %>  |
<%= link_to 'Novo Ingrediente', new_ingredient_path %> |
<%= link_to 'Receitas', recipes_path %>
</p>