h1{
    float:left;
    width:830px;
    padding: 10px 0px 0px;
}
#h1-receita{
    font-family: 'Pacifico', cursive;
    font-size: 30pt;
    font-style: italic;
    font-weight: 200;
    transform: rotate(-30deg);
    display:block;
    float:left;
    margin-top: 50px;
    margin-bottom: 50px;
}
#h1-entidade{
    font-family: 'Pacifico', cursive;
    font-size: 20pt;
    font-style: italic;
    font-weight: 200;
    display:block;
    float:left;
    margin-top: 25px;
    margin-bottom: 15px;
}
#h1-titulo{
    font-size: 25pt;
    border-bottom: 2px #A30000;
    border-bottom-style: dotted;
    margin-top: 60px;
    display:inline;
    width:700px;
    float:right;
    padding-bottom: 15px;
}
.h1-titulo-texto{
    font-size: 16pt;
    margin-top: 8px;
    display:inline;
    width:600px;
    float:left;
    padding-bottom: 4px;
    size: 21px;
}
#content{
    float:left;
    width:830px;
    margin:0 0 10px;
}
#content-procedimento{
    float:right;
    width:525px;
}
#content-ingredientes{
    float:left;
    width:200px;
}
#content-serves{
    float:left;
    width:830px;
}
#table-serves{
    top: 200px;
    border-collapse: collapse;
    margin-top: 20px;
    table, td, tr{
        border: 1px #A30000;
        border-style:dotted solid;
        padding: 10px;
    }
}
#content-procedimento-texto{
    font-size: 12px;
}

h3{
    font-size: 17pt;
}

.table_procedure_procedure_nunber{ 
    font-family:verdana;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.table_procedure_title{
    font-family:verdana;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration: underline;
}
.table_procedure_procedure{
    font-family:verdana;
    padding-bottom: 1cm;
    font-size: 13px;
    line-height: 18px;
}
.recipe_ingredients_amout{
    text-align: right;
}
input:recipe_edit_procedure_table{
    width:830px;
}
input.recipe_edit_procedure_table_procedure_number{
    width:30px;
    background-color:grey;
    color:white;
    font-weight:bold;
    border:none;
    }
input.recipe_edit_procedure_table_procedure_title{
    width:650px;
    font-style: italic;
    text-decoration: underline;
}
textarea.recipe_edit_procedure_table_procedure_procedure{
    width:700px;
    height: 100px;
    word-break: break-word;
    text-align: justify;
    
}