#header{
    float:left;
    width:830px;
    padding: 10px 0px 0px;
}
.logo{
    float:left;
    display:block;
    width:40px;
    text-decoration:none;
    vertical-align: text-top;
}
#header-title{
    font-family: 'EB Garamond';
    font-size: 25pt;
    display:inline;
    margin:20px;
    padding:0;
}