@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:);
@import url(////fonts.googleapis.com/css?family=EB+Garamond:);
@import url(////fonts.googleapis.com/css?family=Pacifico:);
body{
    background:#CCCCCC;
    margin:0;
    padding:10px;
    font-family: 'EB Garamond';
}
ul, li{
    list-style:none;
}
h2,h2,ul,li,form{
    margin:0;
    padding:0;
}
h1{
    margin:0;
    padding:0;
    font:100;
}
#page{
    width:854px;
    margin:0 auto;
}

#page2{
    background:#eecfa1;
    //background-image: url(old_paper_background_hd_picture_2_169574.jpg);
    width:830px;
    float:left;
    padding:10px;
    border: solid #444;
    border-width: 1px 3px 3px 1px;
}
#containerWelcome {
  height: 600px;
  width: 518px;
  position: relative;
}
#imageWelcome {
  position: absolute;
  left: 0;
  top: 0;
}
#textWelcome {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 33px;
  font-weight: bold;
  left: 250px;
  top: 250px;
  font-family: "EB Garamond";
}
#textWelcomeMenu {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "EB Garamond";
}
